.program {
	padding: 0 8% 60px;
}

.program > :global(.title),
.program > :global(.subtitle) {
	color: var(--primary-color);
	text-align: center;
}

.program > :global(.title) {
	font-size: 48px;
}

.program > :global(.subtitle) {
	font-size: 34px;
}

.registerBtnWrap {
	margin: 64px 0 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.registerBtn {
	width: max-content;
	max-width: 100%;
	padding: 12px 36px;
	border-radius: 30px;
	background-color: var(--yellow);

	font-size: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	user-select: none;
}
