.wrap {
}

.switchLanguage {
	color: var(--primary-color);
	font-size: 20px;
	text-align: center;

	width: 90px;
	height: 45px;
	line-height: 45px;
	border-radius: 30px;
	background-color: #fff;

	user-select: none;
	cursor: pointer;
}
