.intro {
	min-height: calc(100vh - 80px);
	padding: 0.1px 0;

	position: relative;
	background: linear-gradient(
		180deg,
		rgba(0, 32, 96, 0.996058) 0.53%,
		rgba(0, 33, 97, 0.992115) 1.06%,
		rgba(0, 34, 98, 0.988173) 1.6%,
		rgba(0, 35, 99, 0.98423) 2.13%,
		rgba(0, 35, 100, 0.980288) 2.66%,
		rgba(0, 36, 101, 0.976345) 3.19%,
		rgba(0, 37, 102, 0.972403) 3.72%,
		rgba(0, 38, 103, 0.968461) 4.26%,
		rgba(0, 39, 104, 0.964518) 4.79%,
		rgba(0, 39, 105, 0.960576) 5.32%,
		rgba(0, 40, 106, 0.956633) 5.85%,
		rgba(0, 41, 107, 0.952691) 6.38%,
		rgba(0, 42, 108, 0.948748) 6.91%,
		rgba(0, 42, 108, 0.944806) 7.45%,
		rgba(0, 43, 109, 0.940864) 7.98%,
		rgba(0, 44, 110, 0.936921) 8.51%,
		rgba(0, 45, 111, 0.932979) 9.04%,
		rgba(0, 45, 112, 0.929036) 9.57%,
		rgba(0, 46, 113, 0.925094) 10.11%,
		rgba(0, 47, 114, 0.921151) 10.64%,
		rgba(0, 47, 115, 0.917209) 11.17%,
		rgba(0, 48, 115, 0.913267) 11.7%,
		rgba(0, 49, 116, 0.909324) 12.23%,
		rgba(0, 50, 117, 0.905382) 12.77%,
		rgba(0, 50, 118, 0.901439) 13.3%,
		rgba(0, 51, 119, 0.897497) 13.83%,
		rgba(0, 52, 120, 0.893554) 14.36%,
		rgba(0, 52, 121, 0.889612) 14.89%,
		rgba(0, 53, 121, 0.88567) 15.43%,
		rgba(0, 54, 122, 0.881727) 15.96%,
		rgba(0, 54, 123, 0.877785) 16.49%,
		rgba(0, 55, 124, 0.873842) 17.02%,
		rgba(0, 56, 125, 0.8699) 17.55%,
		rgba(0, 56, 125, 0.865957) 18.09%,
		rgba(0, 57, 126, 0.862015) 18.62%,
		rgba(0, 58, 127, 0.858073) 19.15%,
		rgba(0, 58, 128, 0.85413) 19.68%,
		rgba(0, 59, 129, 0.850188) 20.21%,
		rgba(0, 60, 129, 0.846245) 20.74%,
		rgba(0, 60, 130, 0.842303) 21.28%,
		rgba(0, 61, 131, 0.83836) 21.81%,
		rgba(0, 62, 132, 0.834418) 22.34%,
		rgba(0, 62, 133, 0.830476) 22.87%,
		rgba(0, 63, 133, 0.826533) 23.4%,
		rgba(0, 64, 134, 0.822591) 23.94%,
		rgba(0, 64, 135, 0.818648) 24.47%,
		rgba(0, 65, 136, 0.814706) 25%,
		rgba(0, 65, 136, 0.810763) 25.53%,
		rgba(0, 66, 137, 0.806821) 26.06%,
		rgba(0, 67, 138, 0.802879) 26.6%,
		rgba(0, 67, 138, 0.798936) 27.13%,
		rgba(0, 68, 139, 0.794994) 27.66%,
		rgba(0, 69, 140, 0.791051) 28.19%,
		rgba(0, 69, 141, 0.787109) 28.72%,
		rgba(0, 70, 141, 0.783166) 29.26%,
		rgba(0, 70, 142, 0.779224) 29.79%,
		rgba(0, 71, 143, 0.775282) 30.32%,
		rgba(0, 71, 143, 0.771339) 30.85%,
		rgba(0, 72, 144, 0.767397) 31.38%,
		rgba(0, 73, 145, 0.763454) 31.91%,
		rgba(0, 73, 145, 0.759512) 32.45%,
		rgba(0, 74, 146, 0.755569) 32.98%,
		rgba(0, 74, 147, 0.751627) 33.51%,
		rgba(0, 75, 148, 0.747685) 34.04%,
		rgba(0, 75, 148, 0.743742) 34.57%,
		rgba(0, 76, 149, 0.7398) 35.11%,
		rgba(0, 76, 149, 0.735857) 35.64%,
		rgba(0, 77, 150, 0.731915) 36.17%,
		rgba(0, 78, 151, 0.727973) 36.7%,
		rgba(0, 78, 151, 0.72403) 37.23%,
		rgba(0, 79, 152, 0.720088) 37.77%,
		rgba(0, 79, 153, 0.716145) 38.3%,
		rgba(0, 80, 153, 0.712203) 38.83%,
		rgba(0, 80, 154, 0.70826) 39.36%,
		rgba(0, 81, 155, 0.704318) 39.89%,
		rgba(0, 81, 155, 0.700375) 40.43%,
		rgba(0, 82, 156, 0.696433) 40.96%,
		rgba(0, 82, 156, 0.692491) 41.49%,
		rgba(0, 83, 157, 0.688548) 42.02%,
		rgba(0, 83, 158, 0.684606) 42.55%,
		rgba(0, 84, 158, 0.680663) 43.09%,
		rgba(0, 84, 159, 0.676721) 43.62%,
		rgba(0, 85, 159, 0.672778) 44.15%,
		rgba(0, 85, 160, 0.668836) 44.68%,
		rgba(0, 86, 160, 0.664894) 45.21%,
		rgba(0, 86, 161, 0.660951) 45.74%,
		rgba(0, 87, 162, 0.657009) 46.28%,
		rgba(0, 87, 162, 0.653066) 46.81%,
		rgba(0, 87, 163, 0.649124) 47.34%,
		rgba(0, 88, 163, 0.645181) 47.87%,
		rgba(0, 88, 164, 0.641239) 48.4%,
		rgba(0, 89, 164, 0.637297) 48.94%,
		rgba(0, 89, 165, 0.633354) 49.47%,
		rgba(0, 90, 165, 0.629412) 50%,
		rgba(0, 90, 166, 0.625469) 50.53%,
		rgba(0, 91, 166, 0.621527) 51.06%,
		rgba(0, 91, 167, 0.617584) 51.6%,
		rgba(0, 91, 167, 0.613642) 52.13%,
		rgba(0, 92, 168, 0.6097) 52.66%,
		rgba(0, 92, 168, 0.605757) 53.19%,
		rgba(0, 93, 169, 0.601815) 53.72%,
		rgba(0, 93, 169, 0.597872) 54.26%,
		rgba(0, 93, 170, 0.59393) 54.79%,
		rgba(0, 94, 170, 0.589988) 55.32%,
		rgba(0, 94, 171, 0.586045) 55.85%,
		rgba(0, 95, 171, 0.582103) 56.38%,
		rgba(0, 95, 172, 0.57816) 56.91%,
		rgba(0, 95, 172, 0.574218) 57.45%,
		rgba(0, 96, 173, 0.570275) 57.98%,
		rgba(0, 96, 173, 0.566333) 58.51%,
		rgba(0, 96, 173, 0.56239) 59.04%,
		rgba(0, 97, 174, 0.558448) 59.57%,
		rgba(0, 97, 174, 0.554506) 60.11%,
		rgba(0, 98, 175, 0.550563) 60.64%,
		rgba(0, 98, 175, 0.546621) 61.17%,
		rgba(0, 98, 176, 0.542678) 61.7%,
		rgba(0, 99, 176, 0.538736) 62.23%,
		rgba(0, 99, 176, 0.534793) 62.77%,
		rgba(0, 99, 177, 0.530851) 63.3%,
		rgba(0, 100, 177, 0.526909) 63.83%,
		rgba(0, 100, 178, 0.522966) 64.36%,
		rgba(0, 100, 178, 0.519024) 64.89%,
		rgba(0, 101, 178, 0.515081) 65.43%,
		rgba(0, 101, 179, 0.511139) 65.96%,
		rgba(0, 101, 179, 0.507196) 66.49%,
		rgba(0, 102, 180, 0.503254) 67.02%,
		rgba(0, 102, 180, 0.499312) 67.55%,
		rgba(0, 102, 180, 0.495369) 68.09%,
		rgba(0, 102, 181, 0.491427) 68.62%,
		rgba(0, 103, 181, 0.487484) 69.15%,
		rgba(0, 103, 181, 0.483542) 69.68%,
		rgba(0, 103, 182, 0.4796) 70.21%,
		rgba(0, 104, 182, 0.475657) 70.74%,
		rgba(0, 104, 182, 0.471715) 71.28%,
		rgba(0, 104, 183, 0.467772) 71.81%,
		rgba(0, 104, 183, 0.46383) 72.34%,
		rgba(0, 105, 183, 0.459887) 72.87%,
		rgba(0, 105, 183, 0.455945) 73.4%,
		rgba(0, 105, 184, 0.452003) 73.94%,
		rgba(0, 105, 184, 0.44806) 74.47%,
		rgba(0, 106, 184, 0.444118) 75%,
		rgba(0, 106, 185, 0.440175) 75.53%,
		rgba(0, 106, 185, 0.436233) 76.06%,
		rgba(0, 106, 185, 0.43229) 76.6%,
		rgba(0, 106, 185, 0.428348) 77.13%,
		rgba(0, 107, 186, 0.424406) 77.66%,
		rgba(0, 107, 186, 0.420463) 78.19%,
		rgba(0, 107, 186, 0.416521) 78.72%,
		rgba(0, 107, 186, 0.412578) 79.26%,
		rgba(0, 108, 187, 0.408636) 79.79%,
		rgba(0, 108, 187, 0.404693) 80.32%,
		rgba(0, 108, 187, 0.400751) 80.85%,
		rgba(0, 108, 187, 0.396809) 81.38%,
		rgba(0, 108, 188, 0.392866) 81.91%,
		rgba(0, 108, 188, 0.388924) 82.45%,
		rgba(0, 109, 188, 0.384981) 82.98%,
		rgba(0, 109, 188, 0.381039) 83.51%,
		rgba(0, 109, 188, 0.377096) 84.04%,
		rgba(0, 109, 189, 0.373154) 84.57%,
		rgba(0, 109, 189, 0.369211) 85.11%,
		rgba(0, 109, 189, 0.365269) 85.64%,
		rgba(0, 110, 189, 0.361327) 86.17%,
		rgba(0, 110, 189, 0.357384) 86.7%,
		rgba(0, 110, 189, 0.353442) 87.23%,
		rgba(0, 110, 190, 0.349499) 87.77%,
		rgba(0, 110, 190, 0.345557) 88.3%,
		rgba(0, 110, 190, 0.341615) 88.83%,
		rgba(0, 110, 190, 0.337672) 89.36%,
		rgba(0, 110, 190, 0.33373) 89.89%,
		rgba(0, 111, 190, 0.329787) 90.43%,
		rgba(0, 111, 190, 0.325845) 90.96%,
		rgba(0, 111, 191, 0.321902) 91.49%,
		rgba(0, 111, 191, 0.31796) 92.02%,
		rgba(0, 111, 191, 0.314018) 92.55%,
		rgba(0, 111, 191, 0.310075) 93.09%,
		rgba(0, 111, 191, 0.306133) 93.62%,
		rgba(0, 111, 191, 0.30219) 94.15%,
		rgba(0, 111, 191, 0.298248) 94.68%,
		rgba(0, 111, 191, 0.294305) 95.21%,
		rgba(0, 111, 191, 0.290363) 95.74%,
		rgba(0, 111, 191, 0.286421) 96.28%,
		rgba(0, 111, 191, 0.282478) 96.81%,
		rgba(0, 111, 191, 0.278536) 97.34%,
		rgba(0, 111, 191, 0.274593) 97.87%,
		rgba(0, 111, 191, 0.270651) 98.4%,
		rgba(0, 111, 191, 0.266708) 98.94%,
		rgba(0, 111, 191, 0.262766) 99.47%,
		rgba(0, 112, 192, 0.258824) 100%
	);
}

.sponsors {
	padding: 2% calc(8% + 90px + 8px);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.sponsors :global(.sponsor) img {
	width: 100%;
	max-height: 120px;

	object-fit: cover;
}

.date,
.desc {
	font-size: 24px;

	padding: 0 16% 0 8%;
}

.date {
	margin-top: 56px;
	margin-bottom: 24px;
}

.desc :global(.light) {
	color: var(--yellow);
}

@media (max-width: 942px) {
	.sponsors {
		padding: 2% 8%;
	}
}

.infoBlock {
	margin-top: 100px;
	padding: 0 8%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px 8px;
}

.info {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

.info :global(.date) {
	color: var(--yellow);
	font-size: 44px;
	line-height: 1;
}

.info :global(.desc) {
	font-size: 24px;
}

.info :global(.img) {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

@media (max-width: 640px) {
	.infoBlock {
		grid-template-columns: 1fr;
		gap: 20px;

		margin-top: 60px;
	}
}

.registerBtnWrap {
	margin: 64px 8%;
}

.registerBtn {
	width: max-content;
	max-width: 100%;
	padding: 12px 36px;
	border-radius: 30px;
	background-color: var(--yellow);

	font-size: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	user-select: none;
}
