.footer {
	padding: 50px 8% 35px;
	background-color: var(--primary-color);

	display: flex;
	flex-direction: column;
}

.title {
	font-size: 32px;
	margin-bottom: 35px;
	user-select: none;
}

.group {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.key {
	font-size: 20px;
	user-select: none;
}

.value {
	font-size: 18px;
	font-weight: 300;
	user-select: all;
}

.socials {
	margin-top: 20px;

	display: flex;
	align-items: center;
	gap: 16px;
}

.icon img {
	width: 40px;
	height: 40px;
	object-fit: cover;

    cursor: pointer;
}
