.speakerCard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.speakerCard img {
	width: 280px;
	height: 280px;
	object-fit: cover;
	border-radius: 50%;
}

@media (max-width: 1630px) {
	.speakerCard img {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 880px) {
	.speakerCard img {
		width: 160px;
		height: 160px;
	}
}

.speakerCard :global(.name) {
	margin-top: 16px;
}

.speakerCard :global(.name),
.speakerCard :global(.info) {
	color: #000;
	font-size: 16px;
	text-align: center;
}
