html,
body {
	color: #fff;
	font-weight: 500;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a {
	color: inherit;
	font: inherit;
	text-decoration: none;
}

ul,
ol,
dl {
	list-style: none;
}

* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}
